.moves-list {
    background-color: white;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.moves-list header {
    background: #CCC;
    color: black;
    padding: 10px;
}

.moves-list .moves {
    padding: 10px 20px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 14px;
    margin: 5px;
    list-style: none;
}