/* You can add global styles to this file, and also import other style files */
body {
    background: #73cfe8;
}

.btn-orange {
    background: #f7921d;
}

.btn-green {
    background: #8cc63e;
}

.btn-pink {
    background: #d3145a;
}
